/* Light mode styles */
[data-theme="light"] {
    --text-color: #333333;
}

/* Dark mode styles */
[data-theme="dark"] {
    --text-color: #ffffff;
}

img {
    display: block;
    margin: 0px auto;
    width: 200px;
    max-width: 30%;
    height: auto;
}

p {
    text-align: center;
    color: var(--text-color);
}