/* Light mode styles */
[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #333333;
  --heading-color: #444444;
  --input-bg: #ffffff;
  --button-bg: #3668ff;
  --button-hover-bg: #1e4db2;
  --button-disabled-bg: #ccc;
  --error-color: #d9534f;
  --warn-color: #f0ad4e;
  --ok-color: #5cb85c;
}

/* Dark mode styles */
[data-theme="dark"] {
  --bg-color: #000000;
  --text-color: #ffffff;
  --heading-color: #ffffff;
  --input-bg: #ffffff;
  --button-bg: #3668ff;
  --button-hover-bg: #1e4db2;
  --button-disabled-bg: #555555;
  --error-color: #d9534f;
  --warn-color: #f0ad4e;
  --ok-color: #5cb85c;
}

.PasswordChange {
  h1 {
    margin-top: 0;
    font-size: 2rem;
    color: var(--heading-color);
  }

  p {
    margin-bottom: 20px;
    color: var(--heading-color);
  }

  label {
    display: block;
    margin-top: 20px;
    font-size: 1rem;
    color: var(--text-color);
  }

  input[type="password"] {
    width: 100%;
    max-width: 400px;
    margin-top: 8px;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--input-bg);
  }

  .error {
    color: var(--error-color);
  }

  .warn {
    color: var(--warn-color);
  }

  .ok {
    color: var(--ok-color);
  }

  ul.suggestions {
    list-style-position: inside;
    padding-left: 0;
    margin-top: 8px;

    li {
      margin-bottom: 4px;
    }
  }

  button {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--button-bg);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--button-hover-bg);
    }

    &:disabled {
      background-color: var(--button-disabled-bg);
      cursor: not-allowed;
    }
  }
}