body {
    background-color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.App {
    max-width: 800px;
    margin: 10px auto 0px auto;
    padding: 90px;
    text-align: center;
    position: relative;
}

.background-image {
    position: relative;
    width: 200px;
    height: 200px;
    object-fit: cover;
}